
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v13/mg0cGfGRUERshzBlvqxeABN-SY3RXjKuKZR1RHIa0nw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/mg0cGfGRUERshzBlvqxeAO6J62hFWZVScRuaNBOo_rA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(https://fonts.gstatic.com/s/robotocondensed/v13/BP5K8ZAJv9qEbmuFp8RpJdbvlX87CS9_IgWvysdluIM.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/BP5K8ZAJv9qEbmuFp8RpJfHZ7IfZvqUgXLEMrfwTXOk.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v13/mg0cGfGRUERshzBlvqxeADn8OlxV1N2WpeXfK2HtpfA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotocondensed/v13/mg0cGfGRUERshzBlvqxeAAm1Bdh5PCvFKhAPu2iWX-U.woff) format('woff');
}

/* ==========================================================================
	#General
========================================================================== */
#pjWrapper * { font-family: 'Roboto Condensed', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjAsLinkMore { color: #f65a1f; }
#pjWrapper .pjAsLinkMore:hover { color: #ffd25f; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjAsBtnPrimary.disabled,
#pjWrapper .pjAsBtnPrimary.disabled.active,
#pjWrapper .pjAsBtnPrimary.disabled.focus,
#pjWrapper .pjAsBtnPrimary.disabled:active,
#pjWrapper .pjAsBtnPrimary.disabled:focus,
#pjWrapper .pjAsBtnPrimary.disabled:hover,
#pjWrapper .pjAsBtnPrimary[disabled],
#pjWrapper .pjAsBtnPrimary.active[disabled],
#pjWrapper .pjAsBtnPrimary.focus[disabled],
#pjWrapper .pjAsBtnPrimary[disabled]:active,
#pjWrapper .pjAsBtnPrimary[disabled]:focus,
#pjWrapper .pjAsBtnPrimary[disabled]:hover,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary.active,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary.focus,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary:active,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary:focus,
#pjWrapper fieldset[disabled] .pjAsBtnPrimary:hover,
#pjWrapper .pjAsBtnPrimary { border-color: #f65a1f; background: #f65a1f; color: #f1f2ed; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjAsBtnPrimary:hover { border-color: #e25925; background: #e25925; color: #f1f2ed; }

#pjWrapper .pjAsBtnSecondary { border: 0; background: none; color: #f65a1f; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjAsBtnSecondary:hover { border: 0; background: none; color: #ffd25f; }

#pjWrapper .pjAsBtnBack { color: #f65a1f; }
#pjWrapper .pjAsBtnBack:hover { color: #ffd25f; }

/* ==========================================================================
	#pjAsContainer
========================================================================== */
#pjWrapper .container-fluid { background: #2b1b02; }
#pjWrapper .pjAsContainer { border-color: #2b1b02; background: #2b1b02; color: #8e8f93; }

/* ==========================================================================
	#pjAsNav
========================================================================== */
#pjWrapper .pjAsNav .pjAsBtn { border: 0; background: none; color: #f65a1f; }
#pjWrapper .pjAsNav .pjAsBtn:hover { border: 0; background: none; color: #ffd25f; }
#pjWrapper .pjAsNav .active .pjAsBtn { border-color: #f65a1f; background: #f65a1f; color: #f1f2ed; }
#pjWrapper .pjAsNav .active .pjAsBtn:hover { border-color: #e25925; background: #e25925; color: #f1f2ed; }

/* ==========================================================================
	#pjAsAside
========================================================================== */
#pjWrapper .pjAsCalendarInline,
#pjWrapper .pjAsAsideService { border-color: #1a1004; background: #3c270a; }
#pjWrapper .pjAsAside .pjAsAsideService:first-of-type { background: #1a1004; }
#pjWrapper .pjAsAsideService:last-of-type { background: #1a1004; }

#pjWrapper .pjAsAside .pjAsAsideTitle,
#pjWrapper .pjAsAside .pjAsHead .pjAsHeadTitle { color: #f65a1f; text-transform: none; }
#pjWrapper .pjAsAside dt { color: #ffd25f; }
#pjWrapper .pjAsAside dd p { color: #8e8f93; }

#pjWrapper .pjAsAsideService .pjAsBtnRemove { border-color: #f65a1f; background: #3c270a; color: #f65a1f; }
#pjWrapper .pjAsAsideService .pjAsBtnRemove:hover { border-color: #ffd25f; color: #ffd25f; }

#pjWrapper .pjAsSelectedDateWrapper li { border-color: #2b1b02; background: #3c270a; }
#pjWrapper .pjAsSelectedDateWrapper .pjAsSelectedDate { color: #ffd25f; }
#pjWrapper .pjAsSelectedDateWrapper .pjAsSelectedDate strong { color: #f65a1f; }

/* ==========================================================================
	#pjAsLanguage
========================================================================== */
#pjWrapper .pjAsLanguage .pjAsBtnLanguageTrigger {background: #1a1004;color: #ffd25f;}
#pjWrapper .pjAsLanguage .pjAsBtnLanguageTrigger { border-color: #2b1b02; }
#pjWrapper .pjAsLanguage .dropdown-menu { background: #1a1004; }
#pjWrapper .pjAsLanguage .dropdown-menu a { color: #ffd25f; }
#pjWrapper .pjAsLanguage .dropdown-menu a:hover,
#pjWrapper .pjAsLanguage .dropdown-menu .current a { background: #f65a1f; color: #f1f2ed; }

/* ==========================================================================
	#pjAsHead
========================================================================== */
#pjWrapper .pjAsContainer .pjAsHead { border-color: #2b1b02; background: #1a1004; }
#pjWrapper .pjAsHead .pjAsHeadTitle { color: #ffd25f; text-transform: uppercase; }

#pjWrapper .pjAsHead .control-label { color: #ffd25f; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjAsHead .form-control { border-color: #3c270a; background: #3c270a; color: #ffd25f; }
#pjWrapper .pjAsHead .form-control:focus { border-color: #3c270a; -webkit-box-shadow: 0 0 10px rgba(255, 210, 95, .3); box-shadow: 0 0 10px rgba(255, 210, 95, .3); }
#pjWrapper .pjAsHead .pjAsBtnLink { color: #ffd25f; }
#pjWrapper .pjAsHead .pjAsBtnLink .badge { background: #ffd25f; color: #595758; }

/* ==========================================================================
	#pjAsListElements
========================================================================== */
#pjWrapper .pjAsListElement { border-color: #2b1b02; background: #3c270a; }
#pjWrapper .pjAsListElementTitle { color: #f65a1f; font-weight: bold; }
#pjWrapper .pjAsEmployee .pjAsEmployeePosition { color: #ffd25f; font-weight: bold; }

/* ==========================================================================
	#pjAsEmployeeInfo
========================================================================== */
#pjWrapper .pjAsEmployeeInfoSection { border-color: #2b1b02; background: #3c270a; }
#pjWrapper .pjAsEmployeeInfoSection p strong { color: #f65a1f; }
#pjWrapper .pjAsSectionTitle { color: #f65a1f; }
#pjWrapper .pjAsEmployeeInfoTitle { color: #f65a1f; }
#pjWrapper .pjAsEmployeePosition { color: #ffd25f; }
#pjWrapper .pjAsTableTimesActions p { color: #ffd25f; }

#pjWrapper .pjAsEmployeeContacts .dl-horizontal dt { color: #8e8f93; }
#pjWrapper .pjAsEmployeeContacts .pjAsEmployeeContactIcon { border-color: #8e8f93; color: #8e8f93; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd { color: #f65a1f; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd a { color: #f65a1f; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd a:hover { color: #ffd25f; }

#pjWrapper .pjAsSectionForm .control-label { color: #8e8f93; }
#pjWrapper .pjAsSectionForm .form-control { border-color: #251d10; background: #251d10; color: #ffd25f; }
#pjWrapper .pjAsSectionForm .form-control:focus { border-color: #251d10; -webkit-box-shadow: 0 0 10px rgba(255, 210, 95, .3); box-shadow: 0 0 10px rgba(255, 210, 95, .3); }

#pjWrapper .pjAsBox { border-color: #2b1b02; background: #2b1b02; }
#pjWrapper .pjAsBox dt { color: #ffd25f; }
#pjWrapper .pjAsBox dd { color: #f65a1f; }

#pjWrapper .pjAsAddToCartForm .control-label { color: #8e8f93; }
#pjWrapper .pjAsAddToCartForm .form-control { border-color: #251d10; background: #251d10; color: #ffd25f; }
#pjWrapper .pjAsAddToCartForm .form-control:focus { border-color: #251d10; -webkit-box-shadow: 0 0 10px rgba(255, 210, 95, .3); box-shadow: 0 0 10px rgba(255, 210, 95, .3); }

#pjWrapper .pjAsDatePick .form-control { color: #f65a1f; }
#pjWrapper .pjAsDatePick .form-control:focus { border-color: #251d10; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjAsDatePick .input-group-addon { border-color: #251d10; background: #251d10; color: #f65a1f; }
#pjWrapper .pjAsDatePick .input-group-addon:hover { color: #ffd25f; }

/* ==========================================================================
	#pjAsTableTimes
========================================================================== */
#pjWrapper .pjAsTableTimes .table tr,
#pjWrapper .pjAsTableTimes .table td { border-color: #2b1b02; }
#pjWrapper .pjAsTableTimes .pjAsTime a { background: #2b1b02; }
#pjWrapper .pjAsTableTimes .pjAsTimeAvailable a { background: #2b1b02; color: #0ab67a; }
/*#pjWrapper .pjAsTableTimes .pjAsTimeAvailable a:hover { background: #0ab67a; color: #f1f2ed; }*/
#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a { background: #251d10; color: #b9b7b8; }
#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a:hover { background: #222; color: #f1f2ed; }
#pjWrapper .pjAsTableTimes .pjAsTimeSelected a { background: #0bb97c; color: #f1f2ed; }
/*#pjWrapper .pjAsTableTimes .pjAsTimeSelected a:hover { background: #2b1b02; color: #0ab67a; }*/
#pjWrapper .pjAsTableTimes .pjAsTimeBooked a { background: #d07364; color: #f1f2ed; }
#pjWrapper .pjAsTableTimes .pjAsTimeBooked a:hover { background: #b95d50; }

/* ==========================================================================
	#pjAsChosenServices
========================================================================== */
#pjWrapper .pjAsChosenService { border-color: #2b1b02; background: #3c270a; }
#pjWrapper .pjAsChosenServices .pjAsServiceTitle { color: #f65a1f; font-weight: bold; }
#pjWrapper .pjAsChosenService p { color: #8e8f93; }
#pjWrapper .pjAsChosenService p strong { color: #f65a1f; }
#pjWrapper .pjAsChosenService a { color: #ffd25f; }
#pjWrapper .pjAsChosenService a:hover { color: #f65a1f; }
#pjWrapper .pjAsChosenService .pjAsBtnRemove { border-color: #fff; color: #fff; }
#pjWrapper .pjAsSectionTotal { color: #ffd25f; }
#pjWrapper .pjAsSectionPrice { color: #f65a1f; }

#pjWrapper .pjAsCheckout { border-color: #2b1b02; background: #3c270a; }
#pjWrapper .pjAsCheckout .control-label { color: #8e8f93; }
#pjWrapper .pjAsCheckout .form-control { border-color: #251d10; background: #251d10; color: #ffd25f; }
#pjWrapper .pjAsCheckout .form-control:focus { border-color: #251d10; -webkit-box-shadow: 0 0 10px rgba(255, 210, 95, .3); box-shadow: 0 0 10px rgba(255, 210, 95, .3); }
#pjWrapper .pjAsCheckout .asterisk { color: #ffd25f; }
#pjWrapper .pjAsCheckout .checkbox { color: #f65a1f; }

/* ==========================================================================
	#pjAsServices
========================================================================== */
#pjWrapper .pjAsServiceMeta dd { color: #ffd25f; }

/* ==========================================================================
	#pjCalendar
========================================================================== */
#pjWrapper .pj-calendar,
#pjWrapper .pj-calendar-head { border-color: #1a1004; }
#pjWrapper .pj-calendar { background: #1a1004; }
#pjWrapper .pj-calendar-head { background: #3c270a; }
#pjWrapper .pj-calendar-ym { color: #ffd25f; }
#pjWrapper .pj-calendar-actions .btn-primary { border-color: #f65a1f; background: #f65a1f; color: #f1f2ed; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pj-calendar-actions .btn-primary:hover { border-color: #e25925; background: #e25925; color: #f1f2ed; }
#pjWrapper .pj-calendar-actions .btn-primary .glyphicon{color: #f1f2ed;}

#pjWrapper .pj-calendar-day-header p { color: #f65a1f; }
.pj-calendar-day { background: #1a1004; }
#pjWrapper .pj-calendar-day p { background: #ffd25f; color: #1a1004; }
#pjWrapper .pj-calendar-day p:hover { background: #f65a1f; color: #fff; }
#pjWrapper .pj-calendar-day-selected p { background: #f65a1f; color: #fff; }
#pjWrapper .pj-calendar-day-disabled p,
#pjWrapper .pj-calendar-day-disabled p:hover { background: #3c270a; color: #ffd25f; }

#pjWrapper .pjAsTableTimes .pjAsTimeAvailable a { background: #ffd25f; color: #1a1004; }
#pjWrapper .pjAsTableTimes a:hover,
#pjWrapper .pjAsTableTimes .pjAsTimeSelected a { background-color: #f65a1f; color: #fff; }

#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a,
#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a:hover,
#pjWrapper .pj-calendar-day-past p,
#pjWrapper .pj-calendar-day-past p:hover,
#pjWrapper .pj-calendar-day-inactive p,
#pjWrapper .pj-calendar-day-inactive p:hover { background: #2b1b02; color: #fff; }