
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

/* ==========================================================================
	#General
========================================================================== */
#pjWrapper * { font-family: 'Open Sans', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjAsLinkMore { color: #4881ae; }
#pjWrapper .pjAsLinkMore:hover { color: #386f98; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjAsBtnPrimary { border-color: #386f98; color: #fff; text-transform: uppercase; 
	background: rgb(71,129,175);
	background: -moz-linear-gradient(top,  rgba(71,129,175,1) 0%, rgba(69,127,173,1) 16%, rgba(71,130,174,1) 19%, rgba(70,126,173,1) 25%, rgba(65,128,172,1) 34%, rgba(69,125,172,1) 38%, rgba(64,125,170,1) 44%, rgba(66,127,172,1) 47%, rgba(63,124,171,1) 63%, rgba(62,123,170,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,129,175,1)), color-stop(16%,rgba(69,127,173,1)), color-stop(19%,rgba(71,130,174,1)), color-stop(25%,rgba(70,126,173,1)), color-stop(34%,rgba(65,128,172,1)), color-stop(38%,rgba(69,125,172,1)), color-stop(44%,rgba(64,125,170,1)), color-stop(47%,rgba(66,127,172,1)), color-stop(63%,rgba(63,124,171,1)), color-stop(100%,rgba(62,123,170,1)));
	background: -webkit-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -o-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -ms-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: linear-gradient(to bottom,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4781af', endColorstr='#3e7baa',GradientType=0 );
}
#pjWrapper .pjAsBtnPrimary:hover { border-color: #386f98; color: #fff; 
	background: rgb(62,123,170);
	background: -moz-linear-gradient(top,  rgba(62,123,170,1) 0%, rgba(63,124,171,1) 37%, rgba(66,127,172,1) 53%, rgba(64,125,170,1) 56%, rgba(69,125,172,1) 62%, rgba(65,128,172,1) 66%, rgba(70,126,173,1) 75%, rgba(71,130,174,1) 81%, rgba(69,127,173,1) 84%, rgba(71,129,175,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,123,170,1)), color-stop(37%,rgba(63,124,171,1)), color-stop(53%,rgba(66,127,172,1)), color-stop(56%,rgba(64,125,170,1)), color-stop(62%,rgba(69,125,172,1)), color-stop(66%,rgba(65,128,172,1)), color-stop(75%,rgba(70,126,173,1)), color-stop(81%,rgba(71,130,174,1)), color-stop(84%,rgba(69,127,173,1)), color-stop(100%,rgba(71,129,175,1)));
	background: -webkit-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -o-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -ms-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: linear-gradient(to bottom,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7baa', endColorstr='#4781af',GradientType=0 );
}

#pjWrapper .pjAsBtnSecondary { border-color: #7a7f85; color: #fff; text-transform: uppercase; 
	background: rgb(147,154,160);
	background: -moz-linear-gradient(top,  rgba(147,154,160,1) 0%, rgba(147,154,162,1) 9%, rgba(136,145,152,1) 72%, rgba(134,143,150,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,154,160,1)), color-stop(9%,rgba(147,154,162,1)), color-stop(72%,rgba(136,145,152,1)), color-stop(100%,rgba(134,143,150,1)));
	background: -webkit-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: -o-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: -ms-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: linear-gradient(to bottom,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939aa0', endColorstr='#868f96',GradientType=0 );
}
#pjWrapper .pjAsBtnSecondary:hover { border-color: #7a7f85; color: #fff; 
	background: rgb(134,143,150);
	background: -moz-linear-gradient(top,  rgba(134,143,150,1) 0%, rgba(136,145,152,1) 28%, rgba(147,154,162,1) 91%, rgba(147,154,160,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,143,150,1)), color-stop(28%,rgba(136,145,152,1)), color-stop(91%,rgba(147,154,162,1)), color-stop(100%,rgba(147,154,160,1)));
	background: -webkit-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: -o-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: -ms-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: linear-gradient(to bottom,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868f96', endColorstr='#939aa0',GradientType=0 );
}

#pjWrapper .pjAsBtnBack { color: #4b81b0; }
#pjWrapper .pjAsBtnBack:hover { color: #386f98; }

/* ==========================================================================
	#pjAsNav
========================================================================== */
#pjWrapper .pjAsNav .pjAsBtn { border-color: #7a7f85; color: #fff; 
	background: rgb(147,154,160);
	background: -moz-linear-gradient(top,  rgba(147,154,160,1) 0%, rgba(147,154,162,1) 9%, rgba(136,145,152,1) 72%, rgba(134,143,150,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,154,160,1)), color-stop(9%,rgba(147,154,162,1)), color-stop(72%,rgba(136,145,152,1)), color-stop(100%,rgba(134,143,150,1)));
	background: -webkit-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: -o-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: -ms-linear-gradient(top,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	background: linear-gradient(to bottom,  rgba(147,154,160,1) 0%,rgba(147,154,162,1) 9%,rgba(136,145,152,1) 72%,rgba(134,143,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939aa0', endColorstr='#868f96',GradientType=0 );
}
#pjWrapper .pjAsNav .pjAsBtn:hover { border-color: #7a7f85; color: #fff; 
	background: rgb(134,143,150);
	background: -moz-linear-gradient(top,  rgba(134,143,150,1) 0%, rgba(136,145,152,1) 28%, rgba(147,154,162,1) 91%, rgba(147,154,160,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,143,150,1)), color-stop(28%,rgba(136,145,152,1)), color-stop(91%,rgba(147,154,162,1)), color-stop(100%,rgba(147,154,160,1)));
	background: -webkit-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: -o-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: -ms-linear-gradient(top,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	background: linear-gradient(to bottom,  rgba(134,143,150,1) 0%,rgba(136,145,152,1) 28%,rgba(147,154,162,1) 91%,rgba(147,154,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868f96', endColorstr='#939aa0',GradientType=0 );
}
#pjWrapper .pjAsNav .active .pjAsBtn { border-color: #386f98; 
	background: rgb(71,129,175);
	background: -moz-linear-gradient(top,  rgba(71,129,175,1) 0%, rgba(69,127,173,1) 16%, rgba(71,130,174,1) 19%, rgba(70,126,173,1) 25%, rgba(65,128,172,1) 34%, rgba(69,125,172,1) 38%, rgba(64,125,170,1) 44%, rgba(66,127,172,1) 47%, rgba(63,124,171,1) 63%, rgba(62,123,170,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,129,175,1)), color-stop(16%,rgba(69,127,173,1)), color-stop(19%,rgba(71,130,174,1)), color-stop(25%,rgba(70,126,173,1)), color-stop(34%,rgba(65,128,172,1)), color-stop(38%,rgba(69,125,172,1)), color-stop(44%,rgba(64,125,170,1)), color-stop(47%,rgba(66,127,172,1)), color-stop(63%,rgba(63,124,171,1)), color-stop(100%,rgba(62,123,170,1)));
	background: -webkit-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -o-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -ms-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: linear-gradient(to bottom,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4781af', endColorstr='#3e7baa',GradientType=0 );
}
#pjWrapper .pjAsNav .active .pjAsBtn:hover { border-color: #386f98; 
	background: rgb(62,123,170);
	background: -moz-linear-gradient(top,  rgba(62,123,170,1) 0%, rgba(63,124,171,1) 37%, rgba(66,127,172,1) 53%, rgba(64,125,170,1) 56%, rgba(69,125,172,1) 62%, rgba(65,128,172,1) 66%, rgba(70,126,173,1) 75%, rgba(71,130,174,1) 81%, rgba(69,127,173,1) 84%, rgba(71,129,175,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,123,170,1)), color-stop(37%,rgba(63,124,171,1)), color-stop(53%,rgba(66,127,172,1)), color-stop(56%,rgba(64,125,170,1)), color-stop(62%,rgba(69,125,172,1)), color-stop(66%,rgba(65,128,172,1)), color-stop(75%,rgba(70,126,173,1)), color-stop(81%,rgba(71,130,174,1)), color-stop(84%,rgba(69,127,173,1)), color-stop(100%,rgba(71,129,175,1)));
	background: -webkit-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -o-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -ms-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: linear-gradient(to bottom,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7baa', endColorstr='#4781af',GradientType=0 );
}

/* ==========================================================================
	#pjAsAside
========================================================================== */
#pjWrapper .pjAsAside .pjAsAsideTitle,
#pjWrapper .pjAsAside .pjAsHead .pjAsHeadTitle { color: #4680ae; }
#pjWrapper .pjAsAside dt { color: #45494a; }
#pjWrapper .pjAsAside dd p { color: #77787c; }

#pjWrapper .pjAsAside .pjAsAsideService:first-of-type { background: #fafafa; }
#pjWrapper .pjAsAsideService .pjAsBtnRemove { border-color: #77787c; background: #fff; color: #77787c; }
#pjWrapper .pjAsAsideService .pjAsBtnRemove:hover { border-color: #45494a; color: #45494a; }

#pjWrapper .pjAsSelectedDateWrapper .pjAsSelectedDate { color: #45494a; }
#pjWrapper .pjAsSelectedDateWrapper .pjAsSelectedDate strong { color: #0bb97a; }

/* ==========================================================================
	#pjAsContainer
========================================================================== */
#pjWrapper .pjAsContainer { color: #8f969c; }

/* ==========================================================================
	#pjAsLanguage
========================================================================== */
#pjWrapper .pjAsLanguage .pjAsBtnLanguageTrigger {background: #fafafa;color: #6e7c85;border-color: #ddd;}
#pjWrapper .pjAsLanguage .dropdown-menu { background: #fafafa; }
#pjWrapper .pjAsLanguage .dropdown-menu a { color: #6e7c85; }
#pjWrapper .pjAsLanguage .dropdown-menu a:hover,
#pjWrapper .pjAsLanguage .dropdown-menu .current a { background: #386f98; color: #fff; }

/* ==========================================================================
	#pjAsHead
========================================================================== */
#pjWrapper .pjAsContainer .pjAsHead { background: #fafafa; }

#pjWrapper .pjAsHead .control-label { color: #6e7c85; }
#pjWrapper .pjAsHead .form-control { color: #47484a; }
#pjWrapper .pjAsHead .pjAsBtnLink { color: #0bb97a; }
#pjWrapper .pjAsHead .pjAsBtnLink .badge { background: #0bb97a; color: #fff; }

/* ==========================================================================
	#pjAsListElements
========================================================================== */
#pjWrapper .pjAsListElementTitle { color: #4680ae; }
#pjWrapper .pjAsEmployee .pjAsEmployeePosition { color: #d17165; }

/* ==========================================================================
	#pjAsEmployeeInfo
========================================================================== */
#pjWrapper .pjAsEmployeeInfoSection p strong { color: #505050; }
#pjWrapper .pjAsSectionTitle { color: #2e4044; }
#pjWrapper .pjAsEmployeeInfoTitle { color: #313f40; }
#pjWrapper .pjAsEmployeePosition { color: #d17165; }

#pjWrapper .pjAsEmployeeContacts .dl-horizontal dt { color: #92a1a8; }
#pjWrapper .pjAsEmployeeContacts .pjAsEmployeeContactIcon { border-color: #4780ad;  color: #4780ad; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd { color: #304040; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd a { color: #4680b0; }
#pjWrapper .pjAsEmployeeContacts .dl-horizontal dd a:hover { color: #386f98; }

#pjWrapper .pjAsSectionForm .control-label { color: #6f7c82; }
#pjWrapper .pjAsSectionForm .form-control { color: #444849; }

#pjWrapper .pjAsBox { border-color: #bddade; background: #d6f2f5; }
#pjWrapper .pjAsBox.pjAsBoxTimeEnd { border-color: #d6d6d6; background: #f1f1f1; }
#pjWrapper .pjAsBox dt { color: #6b7c83; }
#pjWrapper .pjAsBox dd { color: #3b4046; }

#pjWrapper .pjAsDatePick .form-control { color: #45494a; }
#pjWrapper .pjAsDatePick .form-control:focus { border-color: #ccc; }
#pjWrapper .pjAsDatePick .input-group-addon { color: #999; }
#pjWrapper .pjAsDatePick .input-group-addon:hover { color: #45494a; }

/* ==========================================================================
	#pjAsTableTimes
========================================================================== */
#pjWrapper .pjAsTableTimes .table tr { border-color: #e2e2e2; }
#pjWrapper .pjAsTableTimes .table td { border-color: #e2e2e2; }

#pjWrapper .pjAsTableTimes .pjAsTime a { background: #fff; }
#pjWrapper .pjAsTableTimes .pjAsTimeAvailable a { background: #fff; color: #0ab67a; }
/*#pjWrapper .pjAsTableTimes .pjAsTimeAvailable a:hover { background: #0ab67a; color: #fff; }*/
#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a { background: #f1f1f1; color: #b9b7b8; }
#pjWrapper .pjAsTableTimes .pjAsTimeUnavailable a:hover { background: #b9b7b8; color: #f1f1f1; }
#pjWrapper .pjAsTableTimes .pjAsTimeSelected a { background: #0bb97c; color: #fff; }
/*#pjWrapper .pjAsTableTimes .pjAsTimeSelected a:hover { background: #fff; color: #0ab67a; }*/
#pjWrapper .pjAsTableTimes .pjAsTimeBooked a { background: #d07364; color: #fff; }
#pjWrapper .pjAsTableTimes .pjAsTimeBooked a:hover { background: #b95d50; }

#pjWrapper .pjAsTableTimesActions p { color: #0bb97a; }

/* ==========================================================================
	#pjAsChosenServices
========================================================================== */
#pjWrapper .pjAsChosenServices .pjAsServiceTitle { color: #0bb97a; font-weight: bold; }
#pjWrapper .pjAsChosenService p { color: #77787c; }
#pjWrapper .pjAsChosenService p strong { color: #45494a; }
#pjWrapper .pjAsChosenService a { color: #4481ae; }
#pjWrapper .pjAsChosenService a:hover { color: #386f98; }
#pjWrapper .pjAsChosenService .pjAsBtnRemove { border-color: #000; color: #000; }
#pjWrapper .pjAsSectionTotal { color: #45494c; }
#pjWrapper .pjAsSectionPrice { color: #23272a; }

#pjWrapper .pjAsCheckout .control-label { color: #6a7b82; }
#pjWrapper .pjAsCheckout .asterisk { color: #d47464; }
#pjWrapper .pjAsCheckout .checkbox { color: #45494c; }

/* ==========================================================================
	#pjAsServices
========================================================================== */
#pjWrapper .pjAsServiceMeta dd { color: #d07364; }

/* ==========================================================================
	#pjCalendar
========================================================================== */
.pj-calendar,
.pj-calendar-head { border-color: #ddd; }
.pj-calendar { background: #fafafa; }
.pj-calendar-head { background: #fff; }
.pj-calendar-ym { color: #0bb97a; }
.pj-calendar-actions .btn-primary { border-color: #386f98; color: #fff; text-transform: uppercase; 
	background: rgb(71,129,175);
	background: -moz-linear-gradient(top,  rgba(71,129,175,1) 0%, rgba(69,127,173,1) 16%, rgba(71,130,174,1) 19%, rgba(70,126,173,1) 25%, rgba(65,128,172,1) 34%, rgba(69,125,172,1) 38%, rgba(64,125,170,1) 44%, rgba(66,127,172,1) 47%, rgba(63,124,171,1) 63%, rgba(62,123,170,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,129,175,1)), color-stop(16%,rgba(69,127,173,1)), color-stop(19%,rgba(71,130,174,1)), color-stop(25%,rgba(70,126,173,1)), color-stop(34%,rgba(65,128,172,1)), color-stop(38%,rgba(69,125,172,1)), color-stop(44%,rgba(64,125,170,1)), color-stop(47%,rgba(66,127,172,1)), color-stop(63%,rgba(63,124,171,1)), color-stop(100%,rgba(62,123,170,1)));
	background: -webkit-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -o-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: -ms-linear-gradient(top,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	background: linear-gradient(to bottom,  rgba(71,129,175,1) 0%,rgba(69,127,173,1) 16%,rgba(71,130,174,1) 19%,rgba(70,126,173,1) 25%,rgba(65,128,172,1) 34%,rgba(69,125,172,1) 38%,rgba(64,125,170,1) 44%,rgba(66,127,172,1) 47%,rgba(63,124,171,1) 63%,rgba(62,123,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4781af', endColorstr='#3e7baa',GradientType=0 );
}
.pj-calendar-actions .btn-primary:hover { border-color: #386f98; color: #fff; 
	background: rgb(62,123,170);
	background: -moz-linear-gradient(top,  rgba(62,123,170,1) 0%, rgba(63,124,171,1) 37%, rgba(66,127,172,1) 53%, rgba(64,125,170,1) 56%, rgba(69,125,172,1) 62%, rgba(65,128,172,1) 66%, rgba(70,126,173,1) 75%, rgba(71,130,174,1) 81%, rgba(69,127,173,1) 84%, rgba(71,129,175,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,123,170,1)), color-stop(37%,rgba(63,124,171,1)), color-stop(53%,rgba(66,127,172,1)), color-stop(56%,rgba(64,125,170,1)), color-stop(62%,rgba(69,125,172,1)), color-stop(66%,rgba(65,128,172,1)), color-stop(75%,rgba(70,126,173,1)), color-stop(81%,rgba(71,130,174,1)), color-stop(84%,rgba(69,127,173,1)), color-stop(100%,rgba(71,129,175,1)));
	background: -webkit-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -o-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: -ms-linear-gradient(top,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	background: linear-gradient(to bottom,  rgba(62,123,170,1) 0%,rgba(63,124,171,1) 37%,rgba(66,127,172,1) 53%,rgba(64,125,170,1) 56%,rgba(69,125,172,1) 62%,rgba(65,128,172,1) 66%,rgba(70,126,173,1) 75%,rgba(71,130,174,1) 81%,rgba(69,127,173,1) 84%,rgba(71,129,175,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7baa', endColorstr='#4781af',GradientType=0 );
}
.pj-calendar-actions .btn-primary .glyphicon{color: #fff;}

.pjAsCalendarDate p { background-color: #f6f6f6; }

.pj-calendar-day-header p { color: #45494a; }
.pj-calendar-day { background: #fff; }
.pj-calendar-day p { color: #0bb97a; }
.pj-calendar-day p:hover { background: #0bb97a; color: #fff; }
.pj-calendar-day-disabled p,
.pj-calendar-day-disabled p:hover { background: #fafafa; color: #45494a; }

.pj-calendar-day-selected p { background: #0bb97a; color: #fff; }

.pj-calendar-day-past p,
.pj-calendar-day-inactive p { background: #e0e0e0; color: #a8a8a8; }

.pj-calendar-day-past p:hover,
.pj-calendar-day-inactive p:hover {	background: #b9b7b8; }

#pjWrapper .pjAsBoxTimeStart { border-color: rgba(0,0,0,.1); background: #0bb97a; }
#pjWrapper .pjAsBoxTimeStart dd,
#pjWrapper .pjAsBoxTimeStart dt { color: #fff; }